* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


:root {
  --Green-700: hsl(158, 42%, 18%);
  --Green-500: hsl(158, 36%, 37%);

  --Black: hsl(212, 21%, 14%);
  --Grey: hsl(228, 12%, 48%);
  --Cream: hsl(30, 38%, 92%);
  --White: hsl(0, 0%, 100%);

  --spacing: 1.2rem 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Cream);
  font-size: 14px;
  overflow-x: hidden;
  font-family: Montserrat;
}

.container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  background-color: var(--White);
  border-radius: 10px;
}

.product-image img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 100%;
}

/* .product-image source {
  position: absolute;
} */

.product-info {
  padding: 1.4rem;

}

.product-info p:first-of-type {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.product-info .title {
  padding: var(--spacing);
  font-size: 2.5rem;
  font-weight: 800;
  font-family: Fraunces;
}

.product-info p {
  line-height: 20px;
  color: var(--Grey);
}

.product-info a {
  display: inline-block;
  width: 100%;
  background-color: var(--Green-500);
  text-align: center;
  padding: 0.7rem;
  color: var(--White);
  font-weight: 700;
  border-radius: 8px;
}

.product-info a:active {
  background-color: var(--Green-700);
}

.product-info a img {
  margin-right: 5px;
}

.product-info p:has(.discount) {
  padding: var(--spacing);
  display: flex;
}

.product-info .discount {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--Green-500);
  margin-right: 10px;
  font-family: Fraunces;
}

@media screen and (min-width: 800px) {
  .container {
    flex-direction: row;
    height: 60%;
    width: 60%;
  }

  .product-image {
    padding: 1.4rem;
  }
  
  .product-image img {
    border-radius: 10px;
  }

  .product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    
  }
}

